html {
  font-family: var(--ff-roboto);
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: 104%;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;

body.active {
  overflow: hidden;
}
* Typography
**/
  --ff-saira-stencil-one: "Saira Stencil One", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-roboto: "Roboto", sans-serif;

  --fs-1: 2rem;
  --fs-2: calc(1.813rem + 1vw);
  --fs-3: calc(1.313rem + 1vw);
  --fs-4: 1.4rem;
  --fs-5: 1rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-700: 700;

  /**
* Transition
**/
  --transition-1: 0.25s ease-in-out;

  /**
* Spacing
**/
  --section-padding: 80px;

  /**
* Radius
**/
  --radius-4: 4px;
  --radius-12: 12px;
}

/*--- Theme ---*/
body.dark_theme {
  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);

  --shadow-1: 10px 10px 40px var(--card-shadow);
}

/*--- Reset ---*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
time,
span,
input,
label,
select,
button,
textarea,
ion-icon {
  display: block;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

:is(a, button, select) {
  outline-color: var(--scarlet);
  outline-offset: 3px;
}

::selection {
  background: var(--color-primary);
  color: var(--bg-primary);
}



/*--- Repeated ---*/
.container {
  padding-inline: 10px;
}
a:link {
    color: #06004b;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ff4c4c;
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 0.9em;
    color: #000000;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}


.breadcrumb,
ol {
    margin-bottom: 0 ;
}

.banner-info {
    padding-top: 9em;
}

.lavi-logo a {
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #000000;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    text-transform: uppercase;
}
/*--- Logo ---*/
.logo {
  position: centre;
  min-width: 77px;
  z-index: 2;
}

.logo a {
  color: var(--color-primary);
  font-family: var(--ff-saira-stencil-one);
}

.logo span {
  display: inline-block;
  color: var(--raw-seinna);
  margin-left: 2px;
}

/*--/content --*/
img.admin {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #dff0f738;
    padding: 0.3em;
    margin-bottom: 1em;
}

.inner-vv-wrap h2,
.head-vl {
    color: #000000;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    margin: 0em 0 1.5em 0;
}

.inner-vv-wrap h4 {
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    margin: 0.5em 0 3em 0;
}
/*--- Header ---*/
.header {
  padding-block: 25px;
  position: centre;
  top: 150;
  left: 200;
  width: 100%;
  transition: var(--transition-1);
  z-index: 5;
 color: MediumSeaGreen
}

.header.active {
  padding-block: 20px;
  background: var(--bg-secondary);
  box-shadow: var(--shadow-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header.active {
  background: var(--bg-primary);
} 
/*--/tab-content --*/
.tab-main {
    padding: 40px 0;
    border: none;
    background: transparent;
    box-shadow: none;
    width: 80%;
    text-align: center;
}

.inner-vv-wrap {
    margin: 0 auto;
    width: 55%;
    padding-top: 4em;
    text-align: center;

}

.tab-main section {
    display: none;
}

.tab-main input.vv-sm {
    display: none;
}



.tab-main label {
    display: inline-block;
    padding: 10px 25px;
    font-weight: 600;
    text-align: center;
    color: #595a5a;
    border: 2px solid #ffffff47;
    border-radius: 4px;
    background: #fff;
    margin: 0 2px;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.tab-main span {
    margin-right: 0.5em;
}

/*----*
.tab-main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    opacity: 0;
    display: none;
}

.tab-main label[for*='1']:before {
    content: '\f1cb';
}

.tab-main label[for*='2']:before {
    content: '\f17d';
}

.tab-main label[for*='3']:before {
    content: '\f16c';
}

.tab-main label[for*='4']:before {
    content: '\f171';
}
/*----*/
.tab-main label:hover {
    color: #ff4c4c;
    cursor: pointer;
}

.tab-main input:checked + label {
    color: #ff4c4c;
    border: 2px solid #fff;
    background: #fff;
    /* border-top: 2px solid #FC427B; */
    /* border-bottom: 1px solid #fff; */
    border-radius: 4px;
}

.tab-main #tab1:checked ~ #content1,
.tab-main #tab2:checked ~ #content2,
.tab-main #tab3:checked ~ #content3,
.tab-main #tab4:checked ~ #content4,
.tab-main #tab5:checked ~ #content5,
.tab-main #tab6:checked ~ #content6,
.tab-main #tab7:checked ~ #content7,
.tab-main #tab8:checked ~ #content8,
.tab-main #tab9:checked ~ #content9 {
    display: block;
}

@media screen and (max-width: 800px) {
    .tab-main label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .tab-main label {
        padding: 15px;
    }
}

/*--- Navbar ---*/
.navbar {
  position: fixed;
  background: var(--bg-secondary);
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: 0.75s cubic-bezier(0.71, 0.01, 0.24, 0.99);
  z-index: 1;
}

.navbar.active {
  top: 0;
  visibility: visible;
}

.navbar-list > li {
  margin-block: 20px;
  padding-inline: 50px;
  overflow: hidden;
}

.navbar-link {
  position: relative;
  width: max-content;
  margin-inline: auto;
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  font-size: var(--fs-1);
  padding: 10px;
  transform: translateY(50px);
  transition: 0.75s cubic-bezier(0.68, -0.55, 0.27, 2);
}

.navbar.active .navbar-link {
  transform: translateY(0);
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 5px;
  width: 0;
  background: var(--raw-seinna);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  text-decoration: underline;
  text-decoration-color: var(--raw-seinna);
  font-family: var(--ff-poppins);
}

/** Go top **/
.go-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: var(--transition-1);
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

/** Responsive for larger than 550px screens **/
@media (min-width: 550px) {
  .container {
    max-width: 550px;
    margin-inline: auto;
  }
  .section-title {
    max-width: 380px;
  }
}

/** Responsive for larger than 768px screens **/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .section-title {
    max-width: 430;
  }
}

/** Responsive for larger than 992px screens **/
@media (min-width: 992px) {
  :root {
    --fs-2: 3rem;
    --section-padding: 100px;
  }

  .container {
    max-width: 980px;
    margin-left: 30px;
  }

  .section-content {
    position: relative;
    padding-left: 40px;
  }

  .header {
    padding-block: 30px;
  }
  .header.active {
    padding-block: 15px;
  }
  .nav-btn {
    display: none;
  }
  .navbar {
    all: unset;
  }
  .navbar-link {
    transform: translateY(0);
    font-size: unset;
    padding-inline: 5px;
  }
  .navbar-list > li {
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .navbar-link::before {
    height: 2px;
  }
}/

.team-class{
	text-align:center;
}

.portfolio-item {
	margin-bottom: 25px;
}
.portfolio-item{
	text-align:justify;
}
.indent1 {
	padding-left:20px;
}



